@import url(http://fonts.googleapis.com/css?family=Raleway:400,200,100,300,500,600,700,800,900|Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800);
@import url(font-awesome.min.css);
/* ==========================================================================
   DOCOMENT INFORMATION
   ========================================================================== */
/* 
 - Document: Winchester
 - Version:  1.0.0
 - Client:   ThemeForest
*/
/* CSS Document 
----------------------------------------------------*/
html, body {
  overflow-x: hidden;
}

body {
  background: #000;
  font-family: "Open Sans";
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  color: #000;
}

/* default css
----------------------------------------------------*/
.form-control:focus {
  box-shadow: none;
  border: 1px solid #969696;
}

.alpha {
  padding-left: 0;
}

.omega {
  padding-right: 0;
}

.font-weight-500 {
  font-weight: 500;
}

.open-sans {
  font-family: "Open Sans";
}

.btn-default {
  background: none;
  border: 2px #fff solid;
  color: #fff;
  padding: 10px 40px 10px 40px;
  font-family: Raleway;
  font-size: 18px;
  font-weight: 700;
}

.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
  color: #31d385;
  background: none;
  border-color: #31d385;
}

.btn-default.border-braun {
  border: 2px #cacaca solid;
  color: #282828;
  text-transform: capitalize;
}

.btn-default.border-braun:hover {
  border: 2px #31d385 solid;
  color: #fff;
  text-transform: capitalize;
  background: #31d385;
}

.btn:active, .btn.active {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.btn-more {
  color: #e32235;
  background: url(../images/ico/more.png) no-repeat;
  background-position: right center;
  padding-right: 25px;
}

.btn-more:hover {
  color: #e32235;
}

h1 {
  font-family: Raleway;
  font-size: 88px;
  line-height: 60px;
  font-weight: 100;
}

h2 {
  font-family: Raleway;
  font-size: 54px;
  line-height: 56px;
  font-weight: 200;
}

h3 {
  font-family: Raleway;
  font-size: 45px;
  line-height: 60px;
  font-weight: 100;
  color:#FFFFFF;
}

h4 {
  font-family: Raleway;
  font-size: 34px;
  line-height: 44px;
  font-weight: 200;
  
}

h5 {
  font-family: Raleway;
  font-size: 20px;
  line-height: 44px;
  font-weight: 600;
}

.fade {
  -webkit-transition: opacity 1s linear;
  transition: opacity 1s linear;
}

.weight-600 {
  font-weight: 600;
}

.inner-top-bottom-15 {
  padding: 10px 0;
  
}

.inner-top-bottom-180 {
  padding: 180px 0;
}

.inner-top-bottom-42 {
  padding: 42px 0;
}

.inner-top-bottom-62 {
  padding: 62px 0;
}

.align-l {
  text-align: left;
}

.align-c {
  text-align: center;
}

.pull-down-20 {
  margin-top: 20px;
}

.pull-down-30 {
  margin-top: 30px;
}

.pull-down-62 {
  margin-top: 62px;
}

.push-down-20 {
  margin-bottom: 20px;
}

.push-down-30 {
  margin-bottom: 30px;
}

.push-down-62 {
  margin-bottom: 62px;
}

.push-down-82 {
  margin-bottom: 82px;
}

.img-responsive {
  min-width: 100%;
}

.no-margin {
  margin: 0 !important;
}

.relative {
  position: relative;
}

/* menu
----------------------------------------------------*/
.row-offcanvas {
  position: relative;
}

.row-offcanvas-right .sidebar-offcanvas {
  right: -285px;
  padding-left: 2px;
  z-index: 50;
  -webkit-transition: right 3s ease-in;
  -most-transition: right 3s ease-in;
  transition: right 3s ease-in;
}

.row-offcanvas .close_menu {
  border: 1px #222524 solid;
  cursor: pointer;
  padding: 0px 10px 0px 10px;
  display: block;
  position: absolute;
  top: 10px;
  right: 13px;
  color: #fff;
  line-height: 24px;
  font-size: 14px;
  font-weight: 300;
}

.row-offcanvas .close_menu:hover {
  text-decoration: none;
}

.sidebar-offcanvas {
  position: absolute;
  top: 0;
  bottom: 0;
  background: #111212;
  width: 300px;
}

.row-offcanvas-right .sidebar-offcanvas .btn-menu {
  position: absolute;
  left: -44px;
  top: 17px;
  border-right: 2px solid #31d385;
  width: 44px;
  height: 122px;
  display: block;
  padding-top: 40px;
}

.row-offcanvas-right .sidebar-offcanvas .btn-menu span {
  width: 42px;
  height: 42px;
  background: url(../images/ico/menu.png) no-repeat;
  display: block;
  cursor: pointer;
}

.row-offcanvas .list-group-holder {
  width: 300px;
  margin-bottom: 0;
  position: relative;
}

.row-offcanvas .list-group-holder .menu-logo {
  text-align: center;
  display: block;
  padding: 41px 0 24px 0;
}

.list-group-item {
  position: relative;
  padding: 10px 2px;
  background: none;
  border: none;
  border-bottom: 1px solid #222524 !important;
  color: #8d8d8d !important;
  margin: 0 35px 0 35px;
  font-family: Raleway;
  font-size: 16px;
  font-weight: 400;
}

a.list-group-item:hover, a.list-group-item:focus {
  text-decoration: none;
  background: none;
}

.list-group-item:after {
  content: "";
  position: absolute;
  width: 20px;
  height: 1px;
  margin-bottom: -1px;
  bottom: 0;
  left: 0;
  background: #31d385;
}

a.list-group-item.active, a.list-group-item.active:hover, a.list-group-item.active:focus {
  z-index: 2;
  color: #ffffff;
  background: none;
  border-color: #428bca;
}

.row-offcanvas .touch {
  padding-left: 37px;
  font-family: Raleway;
  font-size: 16px;
  font-weight: 400;
  color: #8d8d8d;
}

.row-offcanvas .social {
  padding-left: 35px;
}

.row-offcanvas .socialbtn {
  width: 54px;
  height: 38px;
  display: inline-block;
  padding-top: 5px;
  text-align: center;
  border-radius: 3px;
  background: rgba(204, 204, 204, 0.2);
  color: #fff;
  font-size: 22px;
}

.row-offcanvas .socialbtn:hover {
  background: rgba(90, 220, 157, 0.8);
}

/* banner
----------------------------------------------------*/
.banner {
  position: relative;
  text-align: center;
  color: #fff;
  min-height: 700px;
}

.banner .top {
  position: absolute;
  width: 100%;
  top: 48%;
  height: 276px;
  margin-top: -276px;
}

.banner .container {
  position: absolute;
  width: 100%;
  top: 49%;
}

.banner .logo {
  text-align: center;
}

.banner h1 {
  top: 129px;
}

.banner .since {
  font-family: Raleway;
  font-size: 32px;
  line-height: 30px;
  top: 217px;
}

.banner .scroll_down {
  position: absolute;
  width: 100%;
  bottom: 55px;
}

.banner .scroll_down a {
  background: url(../images/ico/scroll_down.png) no-repeat;
  width: 22px;
  height: 52px;
  text-indent: -5000px;
  display: inline-block;
}

.banner .carousel-fade .carousel-inner .item {
  opacity: 0;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
}

.banner .carousel-fade .carousel-inner .active {
  opacity: 1;
}

.banner .carousel-fade .carousel-inner .active.left, .carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}

.banner .carousel-fade .carousel-inner .next.left, .carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}

.banner .carousel-fade .carousel-control {
  z-index: 2;
}

.banner .scroll_down, .banner .since, .banner h1, .banner .logo {
  opacity: 1;
  z-index: 22;
  position: absolute;
  width: 100%;
}

.banner .carousel-caption {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.banner .carousel-inner > .item {
  background-size: cover;
  background-position: center;
  min-height: 700px;
}

.banner .carousel-indicators {
  bottom: 162px;
}

.banner .carousel-indicators li {
  display: inline-block;
  width: 46px;
  height: 4px;
  margin: 1px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #615b57;
  border: 1px solid #615b57;
  border-radius: 10px;
}

.banner .carousel-indicators .active {
  width: 46px;
  height: 4px;
  margin: 1px;
  background-color: #ffffff;
  border: 1px solid #ffffff;
}

/* welcome
----------------------------------------------------*/
.welcome {
  text-align: center;
  background: #31d385;
  color: #fff;
}

.welcome h3 {
  padding: 98px 0 0 0;
}

.welcome h4 {
  padding: 0 0 173px 0;
}

/* what we do
----------------------------------------------------*/
.whatwedo {
  background: #fff;
  text-align: center;
  padding: 0 0 121px 0;
}

.whatwedo p {
  color: #606369;
}

.whatwedo .digitalsolutions {
  margin-top: -238px;
  height: 769px;
  position: relative;
  background: url(../images/digital-solutions1.png) no-repeat;
  background-size: 95% auto;
}

.whatwedo .digitalsolutions .bg2 {
  background: url(../images/digital-solutions2.png) no-repeat;
  display: block;
  height: 100%;
  background-size: 95% auto;
}

.whatwedo .line span {
  background: #e5e5e5;
  display: inline-table;
  width: 170px;
  height: 2px;
}

.whatwedo h4 {
  color: #31d385;
  margin: 34px 0 34px 0;
}

.whatwedo .chart {
  position: relative;
  display: inline-block;
  width: 191px;
  height: 191px;
  margin-top: 34px;
  margin-bottom: 34px;
  text-align: center;
}

.whatwedo .chart canvas {
  position: absolute;
  top: 0;
  left: 0;
}

.whatwedo .percent {
  display: inline-block;
  line-height: 191px;
  z-index: 2;
  font-size: 64px;
  font-family: Raleway;
  font-weight: 200;
  color: #c8c8c8;
}

.whatwedo .percent:after {
  content: '%';
  margin-left: 0.1em;
}

.whatwedo .angular {
  margin-top: 100px;
}

.whatwedo .angular .chart {
  margin-top: 0;
}

/* work process
----------------------------------------------------*/
.workprocess {
  text-align: center;
  min-height: 820px;
  background: url(../images/bg_workprocess.jpg) no-repeat center;
  background-size: cover;
}

.workprocess h3 {
  color: #fff;
  margin-top: 152px;
}

.workprocess h4 {
  color: #31d385;
  margin: 34px 0 34px 0;
}

.workprocess .nav-tabs {
  border-bottom: 1px solid #79807c;
  margin-top: 30px;
}

.workprocess .nav-tabs > li {
  width: 16%;
}

.workprocess .nav-tabs > li > a {
  border: 1px solid transparent;
  border-radius: 4px 4px 0 0;
  padding: 10px 0 20px 0;
}

.workprocess .nav-tabs > li > a:hover {
  border-color: transparent;
  background: none;
}

.workprocess .nav-tabs > li > a img {
  margin-left: 3px;
}

.workprocess .nav-tabs > li > a:hover:after, .workprocess .nav-tabs > li.active > a:after {
  content: "";
  position: absolute;
  bottom: 5px;
  margin: 0 0 -5px -4px;
  left: 50%;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #79807c;
}

.workprocess .nav-tabs > li.active > a, .workprocess .nav-tabs > li.active > a:hover, .workprocess .nav-tabs > li.active > a:focus {
  color: #fff;
  cursor: default;
  background-color: transparent;
  border: 1px solid transparent;
  border-bottom-color: transparent;
}

.workprocess .nav-tabs > li > a i.fa {
  font-size: 68px;
  color: #fff;
}

.workprocess .tab-content {
  text-align: justify;
  color: #fff;
  padding: 10px 100px 0 100px;
  position: relative;
}

.workprocess .button-previous {
  left: 1px;
  margin-left: 0px;
  top: 78px;
  width: 42px;
  height: 50px;
  border: 2px #cacaca solid;
  display: block;
  position: absolute;
  border-radius: 0;
  cursor: pointer;
}

.workprocess .button-previous:hover {
  border: 2px #31d385 solid;
}

.workprocess .button-previous:hover:before {
  border: 2px #31d385 solid;
  border-right: none;
  border-top: none;
}

.workprocess .button-previous:before {
  content: "";
  position: absolute;
  top: 17px;
  left: 14px;
  z-index: 1026;
  width: 11px;
  height: 11px;
  border: 2px solid #cacaca;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  border-right: none;
  border-top: none;
}

.workprocess .button-next {
  right: 1px;
  top: 78px;
  width: 42px;
  height: 50px;
  border: 2px #cacaca solid;
  display: block;
  position: absolute;
  cursor: pointer;
  border-radius: 0;
}

.workprocess .button-next:hover {
  border: 2px #31d385 solid;
}

.workprocess .button-next:hover:before {
  border: 2px #31d385 solid;
  border-left: none;
  border-bottom: none;
}

.workprocess .button-next:before {
  content: "";
  position: absolute;
  top: 17px;
  right: 14px;
  z-index: 1026;
  width: 11px;
  height: 11px;
  border: 2px solid #cacaca;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  border-left: none;
  border-bottom: none;
}

body.photography {
  background: #FFF;
  font-family: "Open Sans";
  font-weight: lighter;
  color: #666666;
  font-size: 16px;
}
body.photography a:hover {
  color: #CF2B2C;
}

.photography .since {
  color: #999999;
}
.photography .navigation-holder {
  -webkit-box-shadow: 0 1px 2px 1px #d3d3d3;
  box-shadow: 0 1px 2px 1px #d3d3d3;
}
.photography .navigation-holder {

  top: 0;
  left: 0;
  width: 100%;
  background: #FFF;
  z-index: 1000;
}
.photography ul.navigation {
  list-style: none;
  margin: 0;
  margin-top: 12px;
}
.photography ul.navigation li {
  display: inline-block;
}
.photography ul.navigation li a {
  display: block;
  margin-right: 20px;
  color: #000000;
  font-family: "Raleway";
  font-size: 18px;
  font-weight: 500;
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}
.photography ul.navigation li a.active, .photography ul.navigation li a:hover {
  border-bottom: 2px solid #CCCCCC;
  text-decoration: none;
}
.photography .work {
  background: #F2F1EC;
}
.photography .btn-default:hover, .photography .btn-default:focus, .photography .btn-default:active, .photography .btn-default.active, .photography .open .dropdown-toggle.btn-default {
  color: #cf2b2b;
  background: none;
  border-color: #cf2b2b;
}
.photography .contact .socialbtn {
  color: #FFF;
}
.photography .contact .socialbtn:hover {
  background: rgba(0, 0, 0, 0.4);
  color: #cf2b2b;
}
.photography .contact .socialbtn:hover, .photography .contact .socialbtn.active {
  background: #cf2b2b;
  color: #FFF;
}
.photography .contact .socialbtn.active:after {
  content: "";
  position: absolute;
  bottom: -3px;
  margin: 0 0 -5px -4px;
  left: 50%;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #cf2b2b;
}
.calltoaction {
  text-align: center;
  padding-bottom: 60px;
  background: url(../images/bg_calltoaction.jpg) no-repeat center;
  background-size: cover;
}

.calltoaction h3 {
  color: #fff;
  margin-top: 58px;
}

.calltoaction h4 {
  color: #31d385;
  margin: 34px 0 34px 0;
}
/*INTRO*/
.intro {
    display: block;
    padding: 60px 0;
    position: relative;
    text-align: center;
}

/*SEPARATOR*/
.separator{
  padding: 60px 0;
  position: relative;
}
.tile {
  background-color: #fff;
  position: relative;
  text-align: center;
  padding: 10px 10px 30px;
}
.tile.tile-hot:before {
  background: url(../images/tile/ribbon.png) 0 0 no-repeat;
  background-size: 82px 82px;
  content: '';
  height: 82px;
  position: absolute;
  right: -4px;
  top: -4px;
  width: 82px;
}
.tile p {
  font-size: 14px;
  margin: 15px auto;
}
.tile-image {
  height: 80px;
  margin: auto 0 20px;
  vertical-align: bottom;
}
.tile-image.big-illustration {
  height: 111px;
  margin-top: 20px;
  width: 112px;
}
.tile-title {
  font-size: 20px;
  margin: 0;
}
.img-rounded {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px; }

.img-polaroid {
  padding: 4px;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); }

.img-circle {
  -webkit-border-radius: 500px;
  -moz-border-radius: 500px;
  border-radius: 500px; }

.row {
  margin-left: -20px;
  *zoom: 1; }
  .row:before, .row:after {
    display: table;
    content: "";
    line-height: 0; }
  .row:after {
    clear: both; }

[class*="span"] {
  float: left;
  min-height: 1px;
  margin-left: 20px; }

.container,
.navbar-static-top .container,
.navbar-fixed-top .container,
.navbar-fixed-bottom .container{
  width: 964px; }

.span12 {
  width: 964px; }

.span11 {
  width: 882px; }

.span10 {
  width: 800px; }

.span9 {
  width: 718px; }

.span8 {
  width: 636px; }

.span7 {
  width: 554px; }

.span6 {
  width: 472px; }

.span5 {
  width: 390px; }

.span4 {
  width: 300px; }

.span3 {
  width: 226px; }

.span2 {
  width: 144px; }

.span1 {
  width: 62px; }
  
  
  
  
  
  div.bbp-template-notice, div.indicator-hint,
	#bbpress-forums li.bbp-body ul.forum li.bbp-forum-topic-count:hover,
	#bbpress-forums li.bbp-body ul.forum li.bbp-forum-reply-count:hover,
	.bs-glyphicons li:hover,
	.onsale,
	.volume:hover,
	.tagcloud a:hover,
	.servicesbox .serviceicon:hover,
	.cs-style-3 figcaption a.addtocart,
	.cs-style-3 figcaption a.zoom,
	.cs-style-3 figcaption  a.external,
	.pagination > .active > a, 
	.pagination > .active > span, 
	.pagination > .active > a:hover, 
	.pagination > .active > span:hover, 
	.pagination > .active > a:focus, 
	.pagination > li > a:hover,
	.pagination > li > span:hover,
	.pagination > li > a:focus,
	.pagination > li > span:focus,
	.footer-social li:hover,
	.pagination > .active > span:focus,
	.service-square-icon,
	.pricing-box:hover,
	.pager li > a, .pager li > span,
	div.price,
	.service-box .serviceicon:hover,
	.custom-box:hover .serviceicon,
	.progress-bar,
	.greybg .serviceslist .service-icon .serviceicon:hover,
	.service-icon .serviceicon:hover,
	.hovicon.effect-1.sub-a:hover,
	.hovicon.effect-1.sub-a:hover i,
	.hovicon.effect-1,
	.hovicon.effect-1.sub-a:hover,
	.flex-direction-nav a,
	.miniicon,
	mark,
	div.bbp-template-notice.info,
	.flex-control-paging li a.flex-active,
	.portfolio-filter li a:before,
	.btn-primary,
	.twitter-widget ul li:hover:before,
	.owl-theme .owl-controls .owl-page.active span,
	.owl-theme .owl-controls.clickable .owl-page:hover span,
	.testimonial_details:hover,
	.nav-tabs > li > a:hover,
	.custom-box:hover .diamondicon {
		background-color:#21C2F8;
	}
 ::-moz-selection  {
		color: #fff;
		text-shadow:none;
		background:#2B2E31;
	}
	::selection {
		color: #fff;
		text-shadow:none;
		background:#2B2E31;
	}
	.hidden { display: none; }
	.alignleft { float: left; }
	.alignright { float: right; }
	.aligncenter {
		margin-left: auto;
		margin-right: auto;
		display: block;
		clear: both;
	}
	.clear {
		clear: both;
		display: block;
		font-size: 0;
		height: 0;
		line-height: 0;
		width:100%;
	}
	::-moz-selection  {
		color: #fff;
		text-shadow:none;
		background:#2B2E31;
	}
	::selection {
		color: #fff;
		text-shadow:none;
		background:#2B2E31;
	}
	*,
	*:after,
	*:before {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		padding: 0;
		margin: 0;
	}
	a.readmore {
		text-transform:none;
		display: block;
		font-family: 'Droid Serif', Georgia, "Times New Roman", serif !important;
		font-size:11px;
		font-style:italic;
	}
	a.remove{
		display:block;
		height:18px;
		width:18px;
		margin:10px;
		padding-left:0 !important;
		text-indent:-9999px;
		background:url(images/remove.png) #aaa;
		border-radius:100px;
		border-style:solid;
		border-width:1px
	}
		/*----------------------------
App Overview Section
---------------------------- */
section.app_overview {
    overflow:hidden;
}
section.app_overview i.fa {
    font-size:33px;
    color:#464e54;
    position:relative;
    top:-6px;
}
section.app_overview h2 {
    margin-left:10px;
}
section.app_overview h2 small {
    display:block;
    font:11px "Montserrat", sans-serif;
    text-transform:uppercase;
    color:#0e0f10;
}
section.app_overview .list-items div {
    margin-top:40px;
}
section.app_overview .title {
    margin-bottom:-40px;
}
*:before, *:after {
    box-sizing: border-box;
}
section .title {
    text-align: center;
}
* {
    box-sizing: border-box;
}

section.app_overview {
    overflow:hidden;
}
section.app_overview i.fa {
    font-size:33px;
    color:#464e54;
    position:relative;
    top:-6px;
}
section.app_overview h2 {
    margin-left:10px;
}
section.app_overview h2 small {
    display:block;
    font:11px "Montserrat", sans-serif;
    text-transform:uppercase;
    color:#0e0f10;
}
section.app_overview .list-items div {
    margin-top:40px;
}
section.app_overview .title {
    margin-bottom:-40px;
}

section h1 {
    font:24px "Montserrat",sans-serif;
    color:#0e0f10;
    text-transform:uppercase;
    margin-top:0;
}
section h2 {
    font:25px "Open Sans", sans-serif;
    font-size:25px;
    color:#0e0f10;
    font-weight:200;
    margin-top:0;
    display:inline-block;
}
section h2 b {
    font-weight:400;
}
section p {
    color:#a4a7ab;
    font-size:13px;
}
section .title h2 {
    display:block;
}
section .title {
    text-align:center;
    padding:0 20px 30px;
}
section .title p {
    max-width:430px;
    display:inline-block;
}